
#uurOutput{
  margin-left: 37%;
}


#knop{
  margin-top: 2%;
  margin-top: 4px;
  margin-left: 48%;
  background-color:  #999999;
  padding: 16px 32px;
  margin-top: 400px;
  height: 20px;
  border-radius: 10px;
}

.container{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 46%;
  margin-top: 100px;
}

p{
  font-size: 30px;
}
