#uurOutput{
  margin-left: 37%;


}
#minutenOutput{
  margin-left: 52%;

}
#secondenOutput{
  margin-left: 67%;

}

#knop{
  margin-top: 2%;
  margin-top: 4px;
  margin-left: 48%;
  background-color:  #999999;
  padding: 16px 32px;
@ -33,4 +20,13 @@ body{
  margin-top: 400px;
  height: 20px;


}

.container{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 46%;
  margin-top: 100px;
}
