
body{
  background-image: linear-gradient(to right, #ccffff, #3399ff);
}


#uurOutput{
  display: flex;
  justify-content: space-around;

}

#knop{
  display: flex;
  justify-content: center;

  background-color:  #999999;
  height: 20px;
  border-radius: 10px;
}

.container{
  width: 400px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-left: 46%;
  margin-top: 100px;
}

.invoer{
  display: flex;
  justify-content: center;
}

p{
  font-size: 30px;
}

#play {
    margin-top: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;

}
#pause {
    width: 4px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}




.invoer input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;

  padding-left: 20px;
  border: 1px solid #000;
}

.invoer-nav {
  float: left;
  position: relative;
  height: 42px;
}
